@model Journal

<div class="jumbotron js-theme-switch">
    <h3 class="text-white">Moon Journal from @Model.Date.ToShortDateString(): @Model.Date.ToShortTimeString()</h3>
    <hr class="hr-white" />
    <p class="lead text-white">@Model.MoonPhase.Name</p>
    <p class="text-white">@Model.MoonPhase.Keywords: @Model.MoonPhase.DescriptionShort</p>
</div>

<div class="text-center journal-text">
    @Model.JournalText
</div>