@model Astro.ViewModels.IndexViewModel

    <div class="jumbotron">
        <h1 class="display-3">Current Moon Stats</h1>
        <p class="lead">The moon is currently in the <i>@Model.MoonPhaseInfo.Name</i> phase and is <strong>@Model.CurrentMoonData.Illumination</strong> illuminated.</p>


        <hr class="my-2">
        <p class="lead">@Model.MoonPhaseInfo.Name: @Model.MoonPhaseInfo.Keywords</p>
        <p>@Model.MoonPhaseInfo.DescriptionShort</p>
        <a asp-controller="MoonPhase" asp-action="Index" asp-route-id="@Model.CurrentMoonData.PhaseID">learn more here</a>

    </div>