@model Astro.ViewModels.MoonDetailsViewModel


<div class="wrapper">

    <nav class="nav-bar nav flex-column moon-details-nav">
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="1">New Moon</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="2">Waxing Crescent</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="3">First Quarter</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="4">Waxing Gibbous</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="5">Full Moon</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="6">Waning Gibbous</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="7">Third Quarter</a>
        <a class="nav-link btn nav-btn" asp-controller="MoonPhase" asp-action="Index" asp-route-id="8">Waning Crescent</a>
    </nav>

    <div class="container flex-column moon-details-content">
        <div class="jumbotron bg-pink-clouds changeable">
            <h1 class="display-3 text-white">@Model.Name</h1>
            <p class="lead text-white">@Model.Keywords: @Model.DescriptionShort</p>

            @if (Model.DescriptionLong != null)
            {
                <hr class="hr-white white">
                <p class="lead text-white">@Model.DescriptionLong</p>
            }

        </div>

        <div class="card-deck">
            @if (Model.Rituals != null)
            {
                <div class="card">
                    <div class="card-header text-white bg-pink-clouds changeable">Rituals for the @Model.Name</div>
                    <div class="card-body">
                        @if (Model.Rituals.Count > 1)
                        {
                            <ul>
                                @foreach (Ritual ritual in Model.Rituals)
                                {
                                    <li>@ritual.Text</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @Model.Rituals[0].Text
                        }
                    </div>
                </div>
            }

            @if (Model.Activities != null)
            {
                <div class="card">
                    <div class="card-header bg-pink-clouds text-white changeable">Activities for the @Model.Name</div>
                    <div class="card-body">
                        @if (Model.Activities.Count > 1)
                        {
                            <ul>
                                @foreach (Activity activity in Model.Activities)
                                {
                                    <li>@activity.Text</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @Model.Activities[0].Text
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>